<div class="content-editor">
  <div *ngIf="!selectedHotel" class="no-hotel">
    <p>Please select a hotel to continue</p>
  </div>

  <div *ngIf="selectedHotel" class="editor-layout">
    <div class="main-content">
      <div [ngSwitch]="currentMenuItem">
        <app-description 
          *ngSwitchCase="'description'"
          [hotel]="selectedHotel"
        ></app-description>
        
        <app-policies
          *ngSwitchCase="'policies'"
          [hotel]="selectedHotel"
        ></app-policies>
        
        <app-room-types
          *ngSwitchCase="'capacity'"
          [hotel]="selectedHotel"
        ></app-room-types>
        
        <app-meal-plan
          *ngSwitchCase="'mealPlan'"
          [hotel]="selectedHotel"
        ></app-meal-plan>
        
        <app-period-mlos
          *ngSwitchCase="'periodAndMlos'"
          [hotel]="selectedHotel"
        ></app-period-mlos>
        
        <app-age-category
          *ngSwitchCase="'age-categories'"
          [hotel]="selectedHotel"
        ></app-age-category>

        <app-market-config
          *ngSwitchCase="'markets'"
          [hotel]="selectedHotel"
        ></app-market-config>

        <app-contract-list
          *ngSwitchCase="'contract'"
          (contractSelected)="onContractSelected($event)"
        ></app-contract-list>
        
        <ng-container *ngSwitchCase="'ratesConfig'">
          <app-rates-config
            *ngIf="selectedContract"
            [contract]="selectedContract"
          ></app-rates-config>
          <div *ngIf="!selectedContract" class="no-contract">
            <p>Please select a contract to view rates configuration</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>