<div class="contract-container">
  <div class="contract-header">
    <h2>Contract Management</h2>
    <div class="hotel-info" *ngIf="selectedHotel">
      <span>{{ selectedHotel.name }}</span>
    </div>
  </div>

  <mat-tab-group>
    <mat-tab label="Contracts">
      <app-contract-list
        [contracts]="contracts"
        (contractSelected)="onContractSelected($event)"
        (createNew)="onCreateNew()"
      ></app-contract-list>
    </mat-tab>
    
    <mat-tab label="Contract Details" [disabled]="!selectedContract">
      <app-contract-form
        *ngIf="selectedContract"
        [contract]="selectedContract"
        (saved)="onContractSaved($event)"
      ></app-contract-form>
    </mat-tab>
    
    <mat-tab label="Contract Rates" [disabled]="!selectedContract">
      <app-contract-rates
        *ngIf="selectedContract"
        [contract]="selectedContract"
        (ratesSaved)="onRatesSaved($event)"
      ></app-contract-rates>
    </mat-tab>
  </mat-tab-group>
</div>