.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
}

.mat-mdc-table {
  background-color: white;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.add-button {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
